<!-- views/home.handlebars -->

<div class="container mt-5">
    <h1 class="text-center">Miembros del Equipo</h1>
    <div class="row">
        {{#each members}} <!-- Iterar sobre los miembros -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}} {{this.apellido}}</h5>
                        <p class="card-text"><strong>Titulación:</strong> {{this.titulacion}}</p>
                        <p class="card-text"><strong>Tecnologías:</strong> {{this.tecnologias}}</p>
                        <p class="card-text"><strong>Idiomas:</strong> {{this.idiomas}}</p>
                        <p class="card-text"><strong>Proyectos Personales:</strong> {{this.proyectos_personales}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
