<!-- views/home.handlebars -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <main>
        <div class="hero">
            <h1>Kokoriko Fútbol Club</h1>
        </div>
        <div class="aboutUs">
            <div class="aboutUs_textCont">
                
                <h2 class="text-center">¿Qué Ofrecemos?</h2>
                <p class="text-center">
                    Somos un grupo de estudiantes apasionados por la tecnología y el desarrollo de proyectos innovadores. Nuestro objetivo principal es aprender, experimentar y construir soluciones que reflejen nuestra creatividad y habilidades técnicas.
                    Cada uno de nosotros aporta un conjunto único de conocimientos y experiencias que nos permiten trabajar en equipo de manera efectiva.
                </p>
            </div>
            <img src="/img/20240423_165105-3-1280x960.webp" alt="">
        </div>
        <div class="teamSection">
            <h2 class="teamSection_title">CONOCE A NUESTRO EQUIPO</h2>
            <hr>
            <p class="teamSection__subtitle">Somos un grupo de estudiantes unidos por nuestra pasión por la tecnología y la innovación. Trabajamos juntos para aprender, crecer y crear proyectos que reflejen nuestro entusiasmo y compromiso.</p>
            <div class="memberListCont">
                {{#each members}}
                <a href="/memberPortfolio/{{this.id}}" class="memberCardLink">
                    <div class="memberCard">
                        <div class="memberCard__photoCont">
                            <img src="/img/coronel.webp" alt="">
                        </div>
                        <div class="memberCard__infoCont">
                                <h3>{{this.nombre}} {{this.apellido}}</h3>
                                <p class="memberCard__infoCont--title">{{this.titulacion}}</p>
                                <p class="memberCard__infoCont--presentation">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium suscipit unde odio. Necessitatibus illum, fugiat, dolorum quia aut hic ad nesciunt provident distinctio, nobis fuga optio assumenda dignissimos nemo minus.</p>
                            </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
        <div class="teamProjectsSection">
            <h2 class="teamProjectsSection__title">NUESTROS TRABAJOS</h2>
            <hr>
            <p class="teamProjectsSection__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odio quis nulla animi blanditiis, suscipit optio, impedit quod delectus at praesentium vitae culpa dolorem natus mollitia tenetur enim. Natus, voluptas?</p>
            <div class="projectListCont">
                {{#each projects}}
                    <a href="">
                        <div class="projectCard">
                            <div class="projectCardTitleCont">
                                <h3>{{this.titulo}}</h3>
                                <p>{{this.descripcion}}</p>
                            </div>
                            <div class="projectCardTecnologyCont">
                                <h4>Tecnologías</h4>
                                <div class="projectTecnologyList">
                                    {{#each this.tecnologias}}
                                        <div class="projectTecnologyCard">
                                            <img src="{{this.image}}" alt="{{this.name}}" class="technologyImage" />
                                            <p>{{this.name}}</p>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="projectCardMembersCont">
                                <h4>Integrantes</h4>
                                <div class="projectMemberList">
                                    {{#each this.Members}} 
                                    <div class="projectMemberCard">
                                        <img src={{this.foto}} alt="">
                                        <p>{{this.nombre}} {{this.apellido}}</p>
                                    </div>
                                        
                                    {{/each}}
                                </div>
                            </div>
                            <p>Empresa: {{this.empresa}}</p>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </main>



    <footer class="footer">
        <p class="text-center">Contacto: equipo@freelance.com | Teléfono: +123 456 789</p>
    </footer>
</body>
</html>
