<!-- views/home.handlebars -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <main>
        <div class="hero">
            <h1>Kokoriko Fútbol Club</h1>
        </div>
        <div class="aboutUs">
            <div class="aboutUs_textCont">
                <h2 class="text-center">¿Qué Ofrecemos?</h2>
                <p class="text-center">
                    Ofrecemos servicios de desarrollo web, diseño UX/UI, desarrollo backend, y más.
                </p>
            </div>
            <img src="/img/20240423_165105-3-1280x960.webp" alt="">
        </div>
        <div class="teamSection">
            <h2>Nuestro Equipo</h2>
            <div class="memberListCont">
                {{#each members}}
                <a href="/memberPortfolio/{{this.id}}" class="memberCardLink">
                    <div class="memberCard">
                        <div class="memberCard__photoCont">
                            <img src="/img/coronel.webp" alt="">
                        </div>
                        <div class="memberCard__infoCont">
                                <h3>{{this.nombre}} {{this.apellido}}</h3>
                                <p>{{this.titulacion}}</p>
                            </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
        <div class="teamProjectsSection">
            <h2>Proyectos del grupo</h2>
            <div class="projectListCont">
                {{#each projects}}
                    <a href="">
                        <div class="projectCard">
                            <div class="projectCardTitleCont">
                                <h3>{{this.titulo}}</h3>
                                <p>{{this.descripcion}}</p>
                            </div>
                            <div class="projectCardTecnologyCont">
                                <h4>Tecnologías</h4>
                                <p>{{this.tecnologias}}</p>
                            </div>
                            <div class="projectCardMembersCont">
                                <h4>Integrantes</h4>
                                <ul>
                                    {{#each this.Members}} 
                                        <li>{{this.nombre}} {{this.apellido}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <p>Empresa: {{this.empresa}}</p>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </main>



    <footer class="footer">
        <p class="text-center">Contacto: equipo@freelance.com | Teléfono: +123 456 789</p>
    </footer>
</body>
</html>
