<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Miembro</title>
    <link rel="stylesheet" href="/css/memberPortfolio.css">
</head>
<body>
    <main>
        <div class="hero">
            <div class="hero_introduction">
                <h2>Hola, soy</h2>
                <h1>{{member.nombre}} {{member.apellido}}</h1>
            </div>
            <p class="hero_titulation">{{member.titulacion}}</p>
        </div>
        <div class="aboutMeCont">
            <div class="aboutMeCont__img">
                <img src="{{member.foto}}" alt="Foto de {{member.nombre}} {{member.apellido}}">
            </div>
            <div class="aboutMeCont__textCont">
                <h3>Sobre Mí</h3>
                <p>{{member.presentacion}}</p>
            </div>
            
        </div>
        <div class="teamProjectsSection">
            <h2 class="teamProjectsSection__title">NUESTROS TRABAJOS</h2>
            <hr>
            <p class="teamProjectsSection__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odio quis nulla animi blanditiis, suscipit optio, impedit quod delectus at praesentium vitae culpa dolorem natus mollitia tenetur enim. Natus, voluptas?</p>
            <div class="projectListCont">
                {{#each projects}}
                    <a href="">
                        <div class="projectCard">
                            <div class="projectCardTitleCont">
                                <h3>{{this.titulo}}</h3>
                                <p>{{this.descripcion}}</p>
                            </div>
                            <div class="projectCardTecnologyCont">
                                <h4>Tecnologías</h4>
                                <div class="projectTecnologyList">
                                    {{#each this.tecnologias}}
                                        <div class="projectTecnologyCard">
                                            <img src="{{this.image}}" alt="{{this.name}}" class="technologyImage" />
                                            <p>{{this.name}}</p>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="projectCardMembersCont">
                                <h4>Integrantes</h4>
                                <div class="projectMemberList">
                                    {{#each this.Members}} 
                                    <div class="projectMemberCard">
                                        <img src={{this.foto}} alt="">
                                        <p>{{this.nombre}} {{this.apellido}}</p>
                                    </div>
                                        
                                    {{/each}}
                                </div>
                            </div>
                            <p>Empresa: {{this.empresa}}</p>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="tecnologiesSection">
            <h3>Tecnologías:</h3>
            <div class="tecnologiesSectionList">
                {{#each member.tecnologias}}
                    <div class="tecnologiesSectionCard">
                        <img src="{{this.image}}" alt="{{this.name}}" class="technologyImage">
                        <p>{{this.name}}</p>
                    </div>
                {{/each}}
            </div>

        </div>
        <div class="studiesSection">
            <h3>Estudios</h3>
            <p>Nebrija</p>
        </div>
        <div class="idiomSection">
            <h3>Idiomas</h3>
            <div class="idiomSection__list">
                <p>Inglés</p>
                <p>Español</p>
            </div>
            
        </div>
    </main>
    
</body>
</html>
